/* A simple CSS reset to remove default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F0F2F5; /* Our standard background gray */
}

.MuiIcon-fontSizeSmall {
  font-size: 20px !important;
}

.MuiIcon-fontSizeMedium {
  font-size: 24px !important;
}

.MuiIcon-fontSizeLarge {
  font-size: 36px !important;
}